<form action="{{ action }}" method="post">
  <select name="bankCd" class="form-control">
      <option value="">Choose Bank:</option>
      <option value="BMRI">Bank Mandiri</option>
      <option value="IBBK">Bank International Indonesia Maybank</option>
      <option value="BBBA">Bank Permata</option>
      <option value="CENA">Bank Central Asia</option>
      <option value="BNIN">Bank Negara Indonesia 46</option>
      <option value="HNBN">Bank KEB Hana Indonesia</option>
      <option value="BRIN">Bank Rakyat Indonesia</option>
      <option value="BNIA">Bank PT. BANK CIMB NIAGA, TBK.</option>
      <option value="BDIN">Bank PT. BANK DANAMON INDONESIA, TBK</option>
  </select>
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>